<div class="page-content" style="max-width:400px">
  <h1>Activate Account</h1>
  {%- form 'activate_customer_password' -%}
    <div class="contact-form">
      <label>Password</label>
      <input type="password" name="customer[password]" required>
      <label>Confirm password</label>
      <input type="password" name="customer[password_confirmation]" required>
      <button type="submit" class="btn" style="margin-top:16px">Activate</button>
    </div>
  {%- endform -%}
</div>
