<div class="page-content" style="max-width:400px">
  <h1>Create Account</h1>
  {%- form 'create_customer' -%}
    <div class="contact-form">
      <label>First name</label>
      <input type="text" name="customer[first_name]">
      <label>Last name</label>
      <input type="text" name="customer[last_name]">
      <label>Email</label>
      <input type="email" name="customer[email]" required>
      <label>Password</label>
      <input type="password" name="customer[password]" required>
      <button type="submit" class="btn" style="margin-top:16px">Create</button>
    </div>
  {%- endform -%}
</div>
