{%- form 'storefront_password' -%}
  <div class="password-form">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Enter</button>
  </div>
  {%- if form.errors -%}
    <p style="color:#c0392b;margin-top:12px;font-size:12px">{{ form.errors.messages.password }}</p>
  {%- endif -%}
{%- endform -%}
